.product{
    display: block;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    box-shadow : 0 0 1em rgba(0,0,0,0.5)  ;
}


.product__img{
    max-width:100%;
    display: block;
}
.btn-basket{
    width:100%;
    background-color: lightgreen;
    border:none;
}
